<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642446362685-mrgb2n260k3hepebo04jrpfibokddrng.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642446362685-mrgb2n260k3hepebo04jrpfibokddrng</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>642446362685-0meg2591d9jla6nfb0qlqfuhokt23v3c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCpZQouJPp5-QY83W032arDPBPKkXCQU_4</string>
	<key>GCM_SENDER_ID</key>
	<string>642446362685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.keisan.app</string>
	<key>PROJECT_ID</key>
	<string>keisan-4bf8e</string>
	<key>STORAGE_BUCKET</key>
	<string>keisan-4bf8e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642446362685:ios:fc23812671502d68308254</string>
</dict>
</plist>